.results {
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  &__header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }

  &__title {
    font-size: 20px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  &__back {
    height: 40px;
    width: 80px;
    cursor: pointer;
    border: none;
    background: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    border-radius: 0;
    transition: border-radius .4s ease;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    @media screen and (min-width: 768px) {
      width: 200px;
    }

    &:hover {
      border-radius: 20px;
    }
  }

  &__subtitle {
    margin-top: 40px;
    font-size: 16px;

    @media screen and (min-width: 768px) {
      margin-top: 80px;
      font-size: 24px;
    }
  }

  &__list {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 40px;
    }
  }
}